*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: row;
    background-color: #ebedef;
}

aside{
    background-color: #2e353d;
    width: 400px;
}

li, a{
    padding: 20px 20px 20px 0px;
}

li:hover{
    background-color: black;
}

#logo{
    background-color: #23282e;
    text-align: center;
}

a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    text-align: center;
}

.container-infos{
    display: flex;
    flex-wrap: wrap;
}

.card{
    display: block;
    width: 300px;
    height: 120px;
    margin: 20px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.card-header{
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 12px 1.25rem;
}

.card-body{
    background-color: white;
    padding: 20px;
}

#conteudos{
    padding-left: 100px;
    padding-right: 10px;
}

.container-competencia{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}